.notify {
    color: white;
    font-weight: bold;
    padding: 1em;
    
    border-radius: 1em;
    box-shadow: inset 2px 2px 0px rgba(255, 255, 255, .5),
                2px 2px 2px rgba(0, 0, 0, .75);
}